<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html ng-app='trex'>
<head>
<title> Trex | Home </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script src="js/angular.min.js"></script>
<script src="js/custom/trexController.js"></script>

</head>
<body ng-controller="trexController">
   <div class="wrap">
      <div class="header">
                </div>
   </div>

   <div class="main">
      <div class="wrap">
         <div class="column_left">
            <div>
               <div class="nav-list">
                  <ul>
                     <li><a class="red active" href="" ng-click="section('inprogress')">In Progress<p class="percentage"></p></a></li>
                     <li><a class="purple" href="" ng-click="section('downloads')">Downloads<p class="percentage"></p></a></li>
			         <li><a class="yellow" href="" ng-click="section('search')">Search<p class="percentage"></p></a></li>
			         <li><a class="blue" href="" ng-click="section('link4')">About<p class="percentage"></p></a></li>
			         <div class="clear"></div>
			      </ul>
			   </div>
		    </div>
	  	 </div>


          <div class="column_right" id="in-progress" ng-show="is('inprogress')">
              <div class="column_right_grid downloading_uploading" style="height:70%;">
                  <ul>
                      <li>
                          <div class="progress">
                              <div class="progress-bar" style="width:81%"> </div>
                          </div>
                          <div class="clearfix">
                              <p class="downloading"> <i><img src="images/download.png" alt="" /></i> Downloading...</p>
                              <p class="percentage">81<em>%</em></p>
                              <div class="clear"></div>
                          </div>
                      </li>
                      <li>
                          <div class="progress">
                              <div class="progress-bar uploading" style="width:43%"> </div>
                          </div>
                          <div class="clearfix">
                              <p class="downloading"><i><img src="images/upload.png" alt="" /></i> Uploading...</p>
                              <p class="percentage">43<em>%</em></p>
                              <div class="clear"></div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="column_right" id="downloads" ng-show="is('downloads')">
              <div class="column_right_grid downloading_uploading" style="height:70%;">
                 Downloads
              </div>
          </div>


          <div class="column_right" id="search" ng-show="is('search')">
              <div class="column_right_grid downloading_uploading" style="height:70%;">
                  Search
              </div>
          </div>

          <div class="column_right" id="link4" ng-show="is('link4')">
              <div class="column_right_grid downloading_uploading" style="height:70%;">
                 asdasd
              </div>
          </div>


    	<div class="clear"></div>

      </div>
   </div>
   <!--main div end-->
   <div class="copy-right">
				<p>© 2014 Trex team </p>
   </div>
</body>
</html>

